<div class="sidebar_nav">
  <div class="add">
      <button [routerLink]="['/new']" class="add_btn" mat-raised-button color="primary">新增</button>
  </div>

  <div class="tabs_all">
    <a [routerLink]="['/all']" (click)="this.clickedTag = 'all'" >
      <div class="tabs_item" [ngClass]="{'clicked': this.clickedTag === 'all'}" matRipple>
        <mat-icon>view_headline</mat-icon>
        <span class="item_all">全部</span>
      </div>
   </a>
  </div>
  <div class="tabs_fliters">
    <div class="tabs_title">篩選</div>
    <a *ngFor="let tag of filterTags" [routerLink]="['/filter/',tag.name]" (click)="this.clickedTag = tag.name"  >
      <div class="tabs_item" [ngClass]="{'clicked': this.clickedTag === tag.name}" matRipple>
          <mat-icon >{{tag.iconName}}</mat-icon>
          <span class="item_all">{{tag.tag}}</span>
      </div>
    </a>
  </div>
  <div class="tabs_tags">
    <div class="tabs_title">標籤</div>
    <a *ngFor="let tag of labelTags" [routerLink]="['/tag/',tag.name]" (click)="this.clickedTag = tag.name"  >
      <div class="tabs_item" [ngClass]="{'clicked': this.clickedTag === tag.name}" matRipple>
        <mat-icon [style.color]="tag.iconColor">{{tag.iconName}}</mat-icon>
        <span class="item_all">{{tag.name|titlecase}}</span>
      </div>
    </a>
  </div>
</div>
