<!-- <mat-toolbar class="header">Yung Kuo
  <span style="display:flex"><img class="header_avatar" src="assets/Blair.jpg" alt="user"></span>
</mat-toolbar> -->
<mat-toolbar class="home_info" >
  <div class="info_title">
      <mat-icon>calendar_today</mat-icon> 待辦事項
  </div>
  <form class="search_section" (ngSubmit)="search(searchForm)" #searchForm="ngForm">
      <div class="search_bar" >
          <button class="search_icon" mat-button type="submit" ><mat-icon >search</mat-icon></button>
        <input ngModel matInput type="text" name="searchText" #searchText="ngModel" placeholder="輸入文字以搜尋內容">
      </div>
  </form>
  <span style="display:flex;align-items: center;"><img class="header_avatar" src="assets/Blair.jpg" alt="user">Yung Kuo</span>
</mat-toolbar>
<div class="wrapper">
    <app-to-do-sidebar></app-to-do-sidebar>
    <router-outlet></router-outlet>
</div>

<app-chat-list></app-chat-list>
