<mat-toolbar class="header">Yung Kuo
  <span style="display:flex"><img class="header_avatar" src="assets/Blair.jpg" alt="user"></span>
</mat-toolbar>
<div class="home_info" >
  <span class="info_text">Welcome back, Yung!</span>
  <div class="search_section">
      <div class="search_bar">
        <mat-icon class="search_icon" (click)="search($event)">search</mat-icon>
        <input matInput type="text" placeholder="輸入並點擊搜尋鈕以搜尋內容">
      </div>
  </div>
  <div class="info_title">
      <mat-icon>check_box</mat-icon> 代辦事項
    </div>
</div>
<div class="wrapper">
    <app-to-do-sidebar></app-to-do-sidebar>
    <router-outlet></router-outlet>
</div>

<app-chat-list></app-chat-list>
